
body{
    margin:0;
    padding:0;
    background-image:url('donate.jfif');
    background-repeat:no-repeat;

}
    .container{
        background:white;
        position:absolute;
        width:400px;
        height:500px;
        top:50%;
        left:50%;
        text-align:center;
        transform:translate(-50%,-50%);
        }
        .login-text{
            font-family:'Lobster',cursive;
            text-align:center;
            font-size:24px;
            font-style: bold;
         }
.social-menu ul{
    position:absolute;
    top:20%;
    left:50%;
    padding:0;
    margin:0;
    transform:translate(-50%,-50%);
    display:flex;
}
.social-menu ul li{
    list-style:none;
    margin:0 15px;
}
.social-menu ul li .fa{
    font-size:30px;
    line-height:60px;
    transition:0.6s;
    color:#000;
}
/*.social-menu ul li .fa:hover{
    background-color: #fff;
}*/
.social-menu ul li a{
    position:relative;
    display:block;
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.social-menu ul li a:hover{
    transform:translate(0,-10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color:#DD2A7B;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color:  #ea4335;
}
.container .box{
    width:400px;
    height:500px;
    position: absolute;
    top:75%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    
}
.box input[type="email"], .box input[type="password"]{
    border:0;
    background: none;
    display:block;
    margin: 30px auto;
    text-align:center;
    border:2px solid #666666;
    padding:15px 12px;
    width:250px;
    outline:none;
    color:#666666;
    border-radius:30px;
    transition:0.50 s;
}
.box .login-text p{
    font-family:'Lobster',cursive;
    text-align:center;
    font-size:24px;
    font-style: bold;
   
}

.box input[type="email"]:focus,.box input[type="password"]{
    width:250px;
    border-color:#666666;
}
.button{
text-decoration:none;
padding:7px 20px;
border-radius:20px;
transition:background-color 0.3s;
background-color:#a29bfe;
color:white;
}
.button:hover {
        transform: translateY(-5px);
        background: #ccc;
    }
.login-register-text a{
        color:#111;
        font-family:'Lobster',cursive;
        font-size:18px;
}
.login-register-text a{
    text-decoration:none;
    color:#6c5ce7;
}
.login-register-text {
    color:#111;
    font-family:'Lobster',cursive;
    font-size:18px;
}
    @media (max-width: 300px) {
        .container {
            width: 300px;
        }
        .container .social-menu {
            display: block;
        }
        .container .social-menu a {
            display: block;
        }
    }